[submodule "external/src/crossguid"]
	path = external/src/crossguid
	url = git@github.com:netwarm007/crossguid.git
[submodule "external/src/opengex"]
	path = external/src/opengex
	url = git@github.com:netwarm007/OpenGEX.git
[submodule "external/src/zlib"]
	path = external/src/zlib
	url = git@github.com:netwarm007/zlib.git
[submodule "external/src/libpng"]
	path = external/src/libpng
	url = git@github.com:pnggroup/libpng.git
[submodule "external/src/ispc"]
	path = external/src/ispc
	url = git@github.com:netwarm007/ispc.git
[submodule "external/src/bullet"]
	path = external/src/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "external/src/cmft"]
	path = external/src/cmft
	url = git@github.com:dariomanesku/cmft.git
[submodule "external/src/glslang"]
	path = external/src/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "external/src/spirv-cross"]
	path = external/src/spirv-cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
