[submodule "External/src/crossguid"]
	path = External/src/crossguid
	url = git@github.com:netwarm007/crossguid.git
[submodule "External/src/opengex"]
	path = External/src/opengex
	url = git@github.com:netwarm007/OpenGEX.git
[submodule "External/src/zlib"]
	path = External/src/zlib
	url = git@github.com:netwarm007/zlib.git
[submodule "External/src/libpng"]
	path = External/src/libpng
	url = git@github.com:pnggroup/libpng.git
[submodule "External/src/ispc"]
	path = External/src/ispc
	url = git@github.com:netwarm007/ispc.git
[submodule "External/src/bullet"]
	path = External/src/bullet
	url = git@github.com:bulletphysics/bullet3.git
